framework:
    secret: '%env(APP_SECRET)%'
    session: true
    http_client:
        enabled: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
