parameters:
    portfolio.snapshot_granularity: '%env(default:_portfolio_snapshot_granularity_default:PORTFOLIO_SNAPSHOT_GRANULARITY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\Service\LogManager:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\Binance\BinancePriceService:
        arguments:
            $httpClient: '@http_client'
            $baseUri: '%binance.api_base_url%'
            $timeout: '%binance.timeout%'
            $symbols: '%binance.symbols%'

    App\Service\Binance\BinancePriceServiceInterface: '@App\Service\Binance\BinancePriceService'

    App\Service\PortfolioValuationService:
        arguments:
            $snapshotGranularity: '%portfolio.snapshot_granularity%'
            $amountUsdtScale: '%portfolio.amount_usdt_scale%'
            $amounts: '%portfolio.amounts%'
            $symbols: '%binance.symbols%'

    App\Command\PortfolioSnapshotCommand:

    App\Repository\PortfolioSnapshotRepository:
        arguments:
            $maxHours: '%portfolio_history.max_hours%'

    App\Controller\Api\PortfolioHistoryController:

    App\Service\PortfolioBreakdownService:
        arguments:
            $amounts: '%portfolio.amounts%'
            $symbols: '%binance.symbols%'

    App\Controller\Api\PortfolioBreakdownController:

    App\Controller\FormRequestValueResolver:
        arguments:
            $container: '@service_container'
        tags:
            - { name: controller.argument_value_resolver, priority: 50 }

    App\EventListener\RequestValidationExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }
